.SubmitBox {
    height: 100px;
    text-align: center;
}

.TextBox {
    margin: auto;
    background-color: green;
    text-align: center;
    color: white;
    width: 25%;
    height: 50%;
}
textarea {
    resize: None;
    height: 100px;
    width: 400px;
}
.authorBox {
    margin: 4px;
}
